.env
.llm/
llm
botsql
.botsql/
.botsql
/botsql
/botsql/

client_secret.json
*.docx

venv/
__pycache__/
*.pyc

*.faiss
*.pkl

*.json
*.csv

consuming_api_docker.py
consuming_api_test.py
st_lc_v2.py
streamlit_lc.py
tst_langchain_with_rag.py


